* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-131921: #131313;
  --color-3b4149: #3b4149;
  --color-f3bd69: #f3bd69;
  --color-232f3e: #232f3e;
}
a {
  display: inline-block;
  text-decoration: none;
}
.form-control:focus {
  box-shadow: none;
  border-color: inherit;
}
.gap-10 {
  gap: 10px;
}
.gap-15 {
  gap: 15px;
}
.gap-30 {
  gap: 30px;
}
/*------------
 Header part here 
 ------------------*/
/* header top */
.header-top-strip {
  border-bottom: 1px solid --color-3b4149;
  background-color: var(--color-131921);
}
/* header upper */
.header-upper {
  background-color: var(--color-131921);
}
.header-upper .input-group-text {
  background-color: var(--color-f3bd69);
  cursor: pointer;
}
.header-upper .header-upper-link img {
  height: 35px;
  width: 35px;
}
/* header bottom */
.header-bottom {
  background-color: var(--color-232f3e);
}
.header-bottom .menu-bottom .menu-link a,
.menu-bottom .dropdown button {
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.3;
}
.menu-bottom .dropdown .dropdown-menu .dropdown-item {
  margin-top: 10px;
}
/* --------------
Header part end here
------------------- */

/* ------------
Footer part
--------------- */
footer {
  background-color: var(--color-232f3e);
  border-top: 1px solid var(--color-3b4149);
}

/*---------
 Footer part end here 
 ---------------*/
